@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
	font-family: IRANSans !important;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: IRANSans !important;
}
h1 {
	font-weight: bold;
}


#footer-icon {
	border-radius: 10px;
	transition: 300ms;
}
#footer-icon:hover {
	transform: translateY(-3px);
}

#user-panel-link {
	text-decoration: none ;
}
#popular-tag-link {
	text-decoration: none;
}
.side-bar {
	max-height: 600px;
}
.popular-tag {
	color: rgba(75, 75, 75, 0.829);
	transition: 500ms;
}

.popular-tag:hover {
	background-color:#d0d6dd ;
}

.user-panel-item {
	transition: 500ms;
}
.user-panel-item:hover {
	background-color: #d0d6dd;
}

.posts img {
	max-height: 300px;
}
.posts .post {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.posts .post:hover {
	transform: translateY(-3px);
}
.posts i.like {
	color: red;
}


.wrapper-class {
	padding: 1rem;
	border: 1px solid #ccc;
  }
  .editor-class {
	background-color:lightgray;
	padding: 1rem;
	border: 1px solid #ccc;
  }
  .toolbar-class {
	border: 1px solid #ccc;
	border-radius: 10px;
}